body {
	font-family: "Raleway";
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
h1.titulo-seccion {
	font-size: 15px;
	line-height: 22px;
	font-weight: 800;
	text-transform: uppercase;
}
h1.nombre {
	font-size: 28px;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;	
}
h2 {
	color: #555555;
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}
p {
	font size: 12px;
	color: #777777;
	line-height: 22px;
	font-weight: 250;
}
.titulo-datos {
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}
.datos {
	color: #666666;
	font-size: 14px;
	text-align: center;
}
.secciones{
	margin: 30px 40px;
}
#sobre-mi {
	border-bottom: 2px solid #efefef;
	border-top: 40px;
	border-right: 10px;
	border-left: 40px;
}
#estudios {
	margin-top: 0;
}